

/* ==========================================================================
   Stuttgart Eagle's custom styles
   by: PapaGrizzle Designz
   ========================================================================== */
   html,body {height:100%;width:100%;}
   /*
   *  NAVBAR
   */
   .navbar-inverse .navbar-brand {
     color: #90FF30;
     font-family: 'Oxygen', sans-serif;
   }
   .navbar-inverse .navbar-nav > li > a {
     font-family: 'Oxygen', sans-serif;

     font-size: 150%;
   }
   .navbar-inverse .navbar-nav > li > a:hover,
   .navbar-inverse .navbar-nav > li > a:focus {
     color: #90FF30;
   }
   .navbar-inverse .navbar-nav > .active > a,
   .navbar-inverse .navbar-nav > .active > a:hover,
   .navbar-inverse .navbar-nav > .active > a:focus {
      font-family: 'Oxygen', sans-serif;
      color: #90FF30;
      font-size: 150%;
   }


   .dropdown-menu {
     background-image: linear-gradient(to bottom, #3C3C3C 0px, #222 100%);
   }
   .navbar-inverse .navbar-nav > .open > a,
   .navbar-inverse .navbar-nav > .open > a:focus {
     color: #9D9D9D;
   }
   .navbar-inverse .navbar-nav > .open > a:hover {
     color: #90FF30;
   }
   .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
       font-family: 'Oxygen', sans-serif;
       color: #90FF30;
       font-size: 150%;
       background-image: linear-gradient(to bottom, #3C3C3C 0px, #222 100%);
   }
   .dropdown-menu > li > a {
     font-family: 'Oxygen', sans-serif;
     font-size: 150%;
     color: #9D9D9D;
     text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
   }
   .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
     color: #90FF30;
   }
   /*
   *  JUMBOTRON
   */
   .jumbotron {background-color:inherit;}
   .container-full-bg {width:100%;height:75%;max-width:100%;background-position:center;background-size:cover;}
   .container-full-bg .container, .container-full-bg .container .jumbotron {height:100%;width:100%;}
   #logo {
     margin-top: 200px;
   }
   /*
   *  HEADERS
   */
   h1, h2, h3, h4, h5, h6 {
     font-family: 'Pacifico', cursive;
   }
   h2, h3, h4, h5, h6 {
     color: #CC3E12;
     overflow:hidden;
   }

   /*
   *  Resize Response
   */


   /*
   *  MISC
   */

   .grid_3 {
   	width: 270px;
   }
   .preffix_1 {
    margin-left: 130px;
   }
   .wrapper {
  	position: relative;
  	overflow: hidden;
  	width: 100%;
  }
  .pad1 {
	  padding-bottom: 37px;
  }

  .icon1 {
  	margin-top: 36px;
  	float: left;
  	margin-right: 25px;
  	width: 74px;
  	height: 74px;
  	text-align: center;
  	border-radius: 500px;
  	font-size: 48px;
  	line-height: 74px;
  }
  .box {
  	overflow: hidden;
  }
  h3 {
	margin-top: 34px;
	text-transform: uppercase;
}
.wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
}
